[submodule "vim-airline/vim-airline"]
    path = .vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git

[submodule "vim-airline/vim-airline-themes"]
    path = .vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git

[submodule "preservim/nerdtree"]
    path = .vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git

[submodule "preservim/tagbar"]
    path = .vim/plugged/tagbar
	url = https://github.com/preservim/tagbar.git

[submodule "vim-scripts/LargeFile"]
    path = .vim/plugged/LargeFile
    url = https://github.com/vim-scripts/LargeFile.git

[submodule "ludovicchabant/vim-gutentags"]
    path = .vim/plugged/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git

[submodule "skywind3000/gutentags_plus"]
    path = .vim/plugged/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus.git

[submodule "vivien/vim-linux-coding-style"]
    path = .vim/plugged/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style.git

[submodule "Yggdroot/LeaderF"]
	path = .vim/plugged/LeaderF
    url = https://github.com/Yggdroot/LeaderF.git

[submodule "neoclide/coc.nvim"]
    path = .vim/plugged/coc.nvim
    url = https://github.com/neoclide/coc.nvim.git
